<div *ngIf="message && !error"
  class="mt-2 alert alert-success alert-dismissible mp bg-success text-white border-0 fade show d-flex justify-content-between align-items-center w-100"
  role="alert">
  {{ message }}
  <i-feather name="x" class="has-event" (click)="dismiss()"></i-feather>
</div>

<div *ngIf="message && error"
  class="mt-2 alert alert-danger alert-dismissible mp bg-danger text-white border-0 fade show d-flex justify-content-between align-items-center"
  role=" alert">
  <span>
    <i-feather name="alert-triangle"></i-feather> {{ message }}
  </span>
  <i-feather name="x" class="has-event" (click)="dismiss()"></i-feather>
</div>
