<div id="wrapper">
  <mat-drawer-container>
    <mat-drawer (closedStart)="closed()" #snav [mode]="'over'" [opened]="isOpened" [class.mobile]="isOpened">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <app-header></app-header>
      <div class="nav-bottom">
        <app-dashboard></app-dashboard>
      </div>
      <div class="bottom-content has-dashboard">
        <ng-container>
          <app-sidebar></app-sidebar>
        </ng-container>
        <div class="content-page">
          <div class="content">
            <div class="container-fluid">
              <router-outlet></router-outlet>
            </div>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
