<div class="login-wrapper">
  <div class="row justify-content-center align-items-center h-100 mob-card">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0 mob-card">
      <div class="auth card">
        <div class="card-body position-relative">
          <div class="form-group text-center mb-4">
            <ul class="list-unstyled topnav-menu float-right">
              <li class="dropdown notification-list">
                <a class="dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button"
                  aria-haspopup="false" aria-expanded="false">
                  <span class="text-black">
                    {{selectedLanguage?.name}} <i-feather name="chevron-down" class="small-icon"></i-feather>
                  </span>
                </a>
                <div class="dropdown-menu no-shadow dropdown-menu-right profile-dropdown">
                  <a (click)="setLanguage(l)" class="dropdown-item notify-item has-event" *ngFor="let l of languages">
                    {{l.name}}
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="logo">
            <a routerLink="/">
              <img src="assets/logos/logo-login.svg" alt="logo">
            </a>
            <div class="d-flex btns justify-content-between w-100">
              <div class="w-46">
                <irpv-button [label]="translations.request_valuation" routerLink="/public/interface"
                  [className]="'mt-2 btn btn-primary btn-block font-13 justify-content-center'">
                </irpv-button>
              </div>
              <div class="w-46">
                <irpv-button [label]="translations.report_verify" routerLink="/public/document-authenticity"
                  [className]="'mt-2 btn btn-primary btn-block font-13 justify-content-center'">
                </irpv-button>
              </div>
            </div>
            <p class="text-muted font-18" *ngIf="!message">{{translations.please_login}}</p>
            <p class="text-danger font-18" *ngIf="message">{{message}}</p>
          </div>
          <form [formGroup]="authFormGroup">
            <div class="auth-card">
              <div class="form-group mb-3" [ngClass]="{'active': isInputFocus === EAuthInputFocused.USR}">
                <label class="text-muted">{{translations.username}}</label>
                <input #auth formControlName="usernameCtrl" class="form-control" (click)="Focus(true)" type="text"
                  required="" [placeholder]="translations.enter_your_username">
              </div>
              <div class="form-group mb-3" [ngClass]="{'active': isInputFocus === EAuthInputFocused.PWD}">
                <label class="text-muted">{{translations.password}}</label>
                <input #auth formControlName="passwordCtrl" class="form-control" (click)="Focus(false)" type="password"
                  required="" id="password" [placeholder]="translations.enter_your_password">
              </div>
            </div>

            <div class="form-group my-3 d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                <label class="custom-control-label text-muted font-13"
                  for="checkbox-signin">{{translations.remember_me}}</label>
              </div>
              <a routerLink="/auth/forget-password"
                class="font-weight-bold text-black">{{translations.forget_password}}</a>
            </div>

            <div class="form-group mb-0 text-center">
              <irpv-button [label]="translations.login_to_your_account" [disabled]="authFormGroup.invalid"
                [className]="'btn btn-primary btn-block font-13 justify-content-center'" (onClick)="login()"
                [loading]="loginLoading">
              </irpv-button>
            </div>
          </form>
          <div class="row w-100 bottom-colors position-absolute">
            <div class="col-sm-4 bg-success"></div>
            <div class="col-sm-4 bg-warning"></div>
            <div class="col-sm-4 bg-primary"></div>
          </div>
        </div> <!-- end card-body -->
      </div>
      <!-- end card -->


    </div> <!-- end col -->
  </div>
  <!-- end row -->
</div>
