select {
    border: none !important;
    background: #F0F0F1 !important;
    border-radius: 3px !important;
}

select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  padding-right: 1.9rem !important;
}

select::-ms-expand {
  display: none !important;
}

.filter-tab .arrow-down {
  position: absolute !important;
  right: 7.8%;
  top: 26%;
  height: 16px !important;
  width: 16px !important;
}

.table-link {
  text-decoration: underline !important;
  cursor: pointer;
}
